{% extends "base.html" %}
{% block title %} Create An Equipment {% endblock %} {% block content%}
<div class="container" style="height: 100%">
  <div class="row align-items-center h-100">
    <div class="col-sm">
      <form method="POST">
        <h3 align="center">Create an Equipment</h3>
        <div class="form-group">
          <label for="name">Equipment Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="Enter Equipment"
            required
          />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}