.title {
    text-align: center;
    margin: 75px;
    color:blueviolet;
}

.informationForm {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 40px;    
    
}


.all {
    background-color:aquamarine !important;
    width: 50%;
}


.resetpage {
    background-color: beige;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}