.footer {
   position:absolute;
   left: 0;
   bottom:0;
   width:100%;
   text-align: center;
}

.footer-container {
   display: flex; 
   flex-direction: row; 
   justify-content: space-around;
   flex-wrap: wrap;
   padding-top: 20px;
   padding-bottom: 10px;
   background-color: #eeeeee;
}
