.sidebar{
    padding-top: 1rem;
    font-size: 16px;
    background-color: #ed1b76;
    color: white;
    font-size: 20px;
    /* width: 170px; */
}

.sidebar-link {
    color: white !important;
}

.sidebar-toggle {
    background-color: transparent;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
    position: absolute;
    top: 8vh;
    z-index: 99;
}

.sidebar-toggle-icon-wrapper {
    cursor: pointer;
    border-radius: 0.65rem;
    margin: 3px 0 0 3px;
}

.sidebar-toggle-icon-wrapper:hover {
    background-color: #f44786;
}

.sidebar-toggle-icon {
    height: 2rem;
    width: 2rem
}

.sidebar-toggle-icon-left {
    padding-left: 0.65rem;
}

.sidebar-toggle-icon-right {
    padding: 0 0.32rem;
}

.toggle-position-left {
    left: 0;
}

.toggle-position-right {
    left: 170px;
}

