.main-logo {
    font-size: 2rem;
    font-weight: bold;
    padding-top: 1rem;
    color: #ed1b76;
}

.body-part {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: stretch;
}

.default-body {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.link-clear {
    color: inherit;
    text-decoration: inherit;
}

.link-clear:hover {
    color: #ed1b76;
}

.link-hover-black:hover {
    color: black;
    opacity: 0.6 !important;
}
