.title {
    text-align: center;
    margin: 75px;
    color:blueviolet;
}

.informationForm {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 40px;    
    
}


.all {
    background-color:aquamarine !important;
}


.page {
    background-color: beige;
}