{% extends 'base.html' %} {% block title %} Create A Badge {% endblock %} {%
    block content %}
    <div class="container" style="height: 100%">
      <div class="row align-items-center h-100">
        <div class="col-sm">
          <form method="POST">
            <h3 align="center">See the point of a Badge</h3>
            <div class="form-group">
              <label for="name">Badge Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Enter Badge Name"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
          </form>
        </div>
      </div>
    </div>
    {% endblock %}