{% extends 'base.html' %} {% block title %} Create A Badge {% endblock %} 
{%block content %}
    <div class="badgers">

        {% if control == True %}
        
        <center><table border="1" cellpadding="1.5" style="border-style:solid">
            {% for badge, dog_photo in badges %}
            <tr>
                <td> {{badge.name}} </td>
                <td> {{badge.badgeID}} </td>
                <th> <img alt="Loading..." src={{dog_photo}}
                    width=100" height="100"> </th>
                <th> {{badge.point}} </th>
            {% endfor %}
        </table>
        </center>
        {% endif %}
    
        <div class="form">
            <form method="POST">
                <input type="submit" value="Print Badges">
            </form>
        </div>
    </div>   
{% endblock %}