#title {
    color: green;
    
}


.wholeComponent{
    
    width: 8 px !important;
    
    
    float: left !important;
    margin-right: 4rem !important;
    margin-left: 4rem !important;
    margin-bottom: 2rem !important;
}