{% extends "base.html" %}
{% block title %}Equipment{% endblock %}
{% block content%}
    <form method="POST">
      <h3 align="center">Adding Equipment</h3>
      <div class="form-group">
        <label for="equipment">Equipment Name</label>
        <input
          type="search"
          class="form-control"
          id="equipment"
          name="equipment"
          placeholder="Enter Equipment"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
{% endblock %}